<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="GraphApiVersion" value="V1.0"/>
    <add key="JohnHopkinsDataQuery" value="https://services1.arcgis.com/0MSEUqKaxRlEPj5g/arcgis/rest/services/ncov_cases/FeatureServer/1/query?f=json&amp;where=(Confirmed &gt; 0) AND (Country_Region=&#39;US&#39;)&amp;returnGeometry=false&amp;outFields=*&amp;outSR=102100&amp;resultOffset=0&amp;resultRecordCount=50&amp;cacheHint=true"/>
    <add key="AppTenantId" value=""/>
    <add key="AppClientId" value=""/>
    <add key="AppClientSecret" value=""/>
    <add key="SharePointGroupId" value=""/>
    <add key="ChannelListNameInSP" value=""/>
    <add key="ChannelNameFieldInSp" value=""/>
    <add key="ChannelAppListNameInSP" value=""/>
    <add key="ChannelApp_ChannelNameLookupFieldInSP" value=""/>
    <add key="ChannelApp_TabNameFieldInSP" value=""/>
    <add key="ChannelApp_AppIdFieldInSP" value=""/>
    <add key="ChannelApp_AppEntityIdFieldInSP" value=""/>
    <add key="ChannelApp_WebUrlFieldInSP" value=""/>
    <add key="ChannelApp_ContentUrlFieldInSP" value=""/>
    <add key="ChannelApp_RemoveUrlFieldInSP" value=""/>
    <add key="ChannelDocListNameInSP" value=""/>
    <add key="ChannelDoc_ChannelNameLookupFieldInSP" value=""/>
    <add key="ChannelDoc_FileNameFieldInSP" value="LinkFilename"/>
  </appSettings>
</configuration>